@use '../../assets/styles/constants' as *;


.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;

  .inputs {
    margin-bottom: $intend_6;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    margin-bottom: $intend_5;

    &__label {
      color: $color_white;
      font-size: $font_size_l;

      margin-right: $intend_6;
    }

    &__input {
      color: $color_black;
      font-size: $font_size_m;

      border: 3px solid $color_gray_10;
      outline: none;
      border-radius: $intend_1;
      background: $color_white;
      padding: $intend_3;

      &::placeholder {
        color: $color_gray_30;
      }
    }
  }

  .error {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: $intend_10;
    margin-bottom: $intend_3;

    color: $color_warning;
  }

  .buttons {
    width: 500px;
    display: flex;
    justify-content: space-between;

    color: $color_purple;

    .button {

      &__text {
        margin-right: $intend_3;
      }
    }
  }
}
