// colors
$color_main: #2D9Bf0;
$color_purple: #414BB2;
$color_black: #000;
$color_white: #fff;
$color_gray_10: #d1d1d1;
$color_gray_30: #c7c7c8;

$color_error: #ad3939;
$color_warning: #fbcf2e;


// font-sizes
$font_size_s: 12px;
$font_size_m: 16px;
$font_size_l: 18px;
$font_size_xl: 24px;
$font_size_xxl: 32px;

// font-weight
$font_weight_normal: 400;
$font_weight_medium: 500;
$font_weight_bold: 800;

// indents
$intend_1: 4px;
$intend_2: 8px;
$intend_3: 12px;
$intend_4: 16px;
$intend_5: 20px;
$intend_6: 24px;
$intend_7: 28px;
$intend_8: 32px;
$intend_9: 36px;
$intend_10: 40px;

// animation
$animation_ease_in: ease-in;
$animation_ease_in_out: ease-in-out;

$animation_speed_fast: 0.1s;
$animation_speed_normal: 0.2s;
$animation_speed_slow: 0.3s;



